.filtro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filtro label {
    margin-right: 10px;
    font-weight: bold;
}

.filtro select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}