body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E0E0E0;
}

header {
    margin: 0;
    padding: 10px 50px;
    background-color: #212121;
    color: #fff;
    font-size: 18px;
}

/* ------------ Table ---------------- */

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

thead th {
    background-color: #424242;
    color: white;
    text-align: center;
    padding: 12px;
    text-transform: uppercase;
    font-size: 14px;
}

td, th {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tbody tr {
    background-color: #f9f9f9;
}
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table button {
    width: 100%;
    background-color: #616161;
    color: white;
    padding: 10px 0;
    margin:5px 0;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botonModificar:hover {
    background-color: #3679c7;
}

.botonEliminar:hover {
    background-color: #a73a3a;
}

.filtro{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas:
    "l l"
    "s d";
    label {
        margin: auto;
        grid-area: l;
        width: 90%;
    }
    select {
        margin: auto;
        grid-area: s;
        width: 90%;
    }
    div {
        margin: auto;
        grid-area: d;
        width: 90%;
        button:hover {
        background-color: #999999;
        }
    }
}

.filtrosGrid{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 60% 25% 15%;
    grid-template-areas: "f o n";
}

.orderGrid{
    grid-area: o;
    width: 90%;
}

.filterGrid{
    grid-area: f;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "select form";
}

.filterFormGrid{
    grid-area: form;
    width: 90%;
}

.filterSelectGrid{
    grid-area: select;
    width: 90%;
}

#dateFilter{
    display: none;
    grid-template-columns: 35% 35% 30%;
    grid-template-areas: 
    "l1 l2 ."
    "d1 d2 b";

    label {
        margin: auto;
        width: 90%;
    }
    input {
        margin: auto;
        width: 90%;
    }
    button {
        grid-area: b;
        margin: auto;
        width: 100%;
        button:hover {
        background-color: #999999;
        }
    }
}

.l1 {
    grid-area: l1;
}

.l2 {
    grid-area: l2;
}

.d1 {
    grid-area: d1;
}

.d2 {
    grid-area: d2;
}

.nuevaTarea {
    grid-area: n;
    width: 90%;
    padding: 20px;
    button {
        width: 100%;
        background-color: #45a049;
        color: white;
        padding: 20px 0;
        font-size: 18px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    button:hover {
        background-color: #616161;
    }
}

.filtroInput{
    display: none;
    grid-template-columns: 60% 40%;
    grid-template-areas:
    "l l"
    "s d";
    label {
        margin: auto;
        grid-area: l;
        width: 90%;
    }
    input {
        margin: auto;
        grid-area: s;
        width: 90%;
    }
    button {
        margin: auto;
        grid-area: d;
        width: 90%;
        button:hover {
        background-color: #999999;
        }
    }
}

/* ------------ Formulario ---------------- */

body h1 {
    text-align: center;
    padding: 30px;
}

form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
    display:block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input, select{
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fdfdfd;
    font-size: 16px;
}

input:focus, select:focus{
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

form button {
    width: 100%;
    background-color: #616161;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #45a049;
}

.pSaved {
    position: absolute;
    left: 5%;
    width: 90%;
    top: 10%;

    color: #088504;
    background-color: #cdffd0;
    padding: 15px 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aviso{
    position: absolute;
    top: 35%;
    height: 200px;
    left: 25%;
    width: 50%;

    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    a {
        position: absolute;
        bottom: 15%;
        width: 90%;
        left: 5%;
    }
    button {
        width: 100%;
        background-color: #efefef;
        color: #424242;
        padding: 15px 0;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    button:hover {
        background-color: #d1d1d1;
    }
}